@if (decksData.length === 0) {
    <p class="text-base flex w-full h-full justify-center items-start text-gray-400 text-center p-4 duration-300
        lg:text-lg
        xl:text-xl
    "> No decks have been created.<br />Get started using 'Add Deck' below.</p> 
} @else {
    <div class="
    flex flex-col text-sm h-full w-full duration-300 bg-gray-700 text-white
    lg:text-base
    xl:text-lg
    ">
    @for (deck of decksData; track deck.id) {
        <div (click)="onSelectDeckClick(deck.id)" class="w-full p-2 px-4 flex justify-between hover:hover:bg-gray-800 cursor-pointer duration-300">
            <div class="w-full overflow-x-hidden">
                <p class="line-clamp-1 truncate" title="{{ deck.title }}">{{ deck.title }}</p>
                <p class="
                    text-xs text-gray-400 truncate
                    lg:text-sm 
                    xl:text-sm 
                ">{{ deck.description }}</p>
            </div>
            <fa-icon (click)="onEditDeckClick(deck.id, $event)" [icon]="faGear" class="
                flex justify-center items-center text-gray-500 hover:text-gray-200 duration-300 cursor-pointer text-xs pl-2
                lg:text-sm
                xl:text-base
            "></fa-icon>
        </div>
    }
    </div>
}