<div class="flex justify-center items-center flex-col absolute top-0 left-0 w-full h-full backdrop-blur-sm gap-4">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="relative flex flex-col min-w-[40%] max-w-[40%] justify-start items-center p-8 text-2xl shadow-full rounded bg-white gap-4">
        <h1 class="text-3xl">Sign Up Below</h1>
        <div class="w-full flex flex-col gap-4 px-4 rounded">
            <div class="flex flex-col justify-between w-full gap-2">
                <label for="email" class="select-none">Email</label>
                <input class="bg-gray-100 tracking-tighter p-2 border border-gray-300 text-xl" type="email" id="email" name="email" #email="ngModel" [(ngModel)]="enteredEmail" placeholder="Enter Email" required email />
                @if (email.errors?.['email'] && form.invalid) {
                    <p class="text-sm text-red-500">Email address is invalid</p>
                }
            </div>
            <div class="flex flex-col justify-between w-full gap-2">
                <label for="password" class="select-none">Password</label>
                <input class="bg-gray-100 tracking-tighter p-2 border border-gray-300 text-xl" type="password" id="password" name="password" #password="ngModel" [(ngModel)]="enteredPassword" placeholder="Enter Password" required minlength="6"/>
                @if (password.errors?.['minlength'] && form.invalid) {
                    <p class="text-sm text-red-500">Password must be at least 6 characters</p>
                }
            </div>
            <div class="flex flex-col justify-between w-full gap-2">
                <label for="password" class="select-none">Confirm Password</label>
                <input class="bg-gray-100 tracking-tighter p-2 border border-gray-300 text-xl" type="password" id="passwordConfirm" name="passwordConfirm" #passwordConfirm="ngModel" [(ngModel)]="enteredConfirmPassword" placeholder="Re-enter Password" required>
                @if (enteredPassword !== enteredConfirmPassword && passwordConfirm.dirty) {
                    <p class="text-sm text-red-500">Passwords do not match</p>
                }
            </div>
        </div>
        <p class="w-3/5 text-sm text-center whitespace-pre-line"> {{ message }} </p>
        <button class="green-btn" type="submit" [ngClass]="form.invalid ? 'opacity-30 pointer-events-none' : ''" [disabled]="form.invalid">{{ createAccountMessage }}</button>
        <div class="w-full border-t-2 pt-4 px-4 flex flex-col justify-center gap-4">
            <p class="text-center text-base select-none">Already have an account?</p>
        </div>
        <button (click)="onLogin()" class="blue-btn select-none" type="button">Log In Here</button>
    </form>
</div>
