<div class="flex justify-center items-center flex-col absolute top-0 left-0 w-full h-full backdrop-blur-sm gap-4">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="
        min-w-[60%] relative flex flex-col justify-start items-center p-8 text-2xl border border-gray-300 rounded bg-white gap-2 duration-300
        lg:min-w-[50%] lg:gap-3
        xl:min-w-[40%] xl:gap-4
    ">
        <h1 class="
            text-xl duration-300
            lg:text-2xl
            xl:text-3xl
        ">Sign Up Below</h1>
        <div class="
            text-lg w-full flex flex-col gap-2 px-4 rounded duration-300
            lg:text-xl lg:gap-3
            xl:text-2xl xl:gap-4
        ">
            <div class="flex flex-col justify-between w-full gap-2">
                <label for="email" class="select-none">Email</label>
                <div class="flex flex-col w-full gap-1">
                    <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="enteredEmail" placeholder="Enter Email" required email class="
                        text-base bg-gray-100 tracking-tighter p-2 border border-gray-300 duration-300
                        lg:text-lg
                        xl:text-xl
                    "/>
                    @if (email.errors?.['email'] && form.invalid) {
                        <p class="
                            text-xs text-red-500 duration-300
                            xl:text-sm 
                        ">Email address is invalid</p>
                    }
                </div>
            </div>
            <div class="flex flex-col justify-between w-full gap-2">
                <label for="password" class="select-none">Password</label>
                <div class="flex flex-col w-full gap-1">
                    <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="enteredPassword" placeholder="Enter Password" required minlength="6" class="
                        text-base bg-gray-100 tracking-tighter p-2 border border-gray-300 duration-300
                        lg:text-lg
                        xl:text-xl
                    "/>
                    @if (password.errors?.['minlength'] && form.invalid) {
                        <p class="
                            text-xs text-red-500 duration-300
                            xl:text-sm 
                        ">Password must be at least 6 characters</p>
                    }
                </div>  
            </div>
            <div class="flex flex-col justify-between w-full gap-2">
                <label for="password" class="select-none">Confirm Password</label>
                <div class="flex flex-col w-full gap-1">
                    <input type="password" id="passwordConfirm" name="passwordConfirm" #passwordConfirm="ngModel" (ngModelChange)="checkMatchingPassword($event)" [(ngModel)]="enteredConfirmPassword" placeholder="Re-enter Password" required class="
                        text-base bg-gray-100 tracking-tighter p-2 border border-gray-300
                        lg:text-lg
                        xl:text-xl
                    ">
                    @if (enteredPassword !== enteredConfirmPassword && passwordConfirm.dirty) {
                        <p class="
                            text-xs text-red-500 duration-300
                            xl:text-sm 
                        ">Passwords do not match</p>
                    }
                </div>
            </div>
        </div>
        <p class="
            text-xs w-3/5 text-center whitespace-pre-line
            xl:text-sm
        "><b>Note: </b> {{ message }} </p>
        <button class="green-btn" type="submit" [ngClass]="(form.invalid || !matchingPasswords()) ? 'opacity-30 pointer-events-none' : ''" [disabled]="form.invalid">{{ createButtonMessage }}</button>
        <div class="w-full border-t-2 pt-4 px-4 flex flex-col justify-center gap-4">
            <p class="
                text-xs text-center select-none duration-300
                lg:text-sm
                xl:text-base
            ">Already have an account?</p>
        </div>
        <button (click)="onLogin()" class="blue-btn select-none" type="button">Log In Here</button>
    </form>
</div>
