<div class="flex justify-end items-center bg-gray-100 w-full h-full border-y border-gray-200 p-4 text-white text-xl gap-4">
    @if (selectedDeckService.isDeckSelected()) {
        @if (flashcardsViewService.currentView() === 'flashcards' && selectedDeckService.currentView() === null && !(uiStates.currentView() === 'user' || uiStates.currentView() === 'settings')) {
            <button (click)="flashcardsViewService.toggleView('add')" class="blue-btn">{{ addButtonText() }}</button>
            @if (flashcardsData.length !== 0) {
                <button (click)="flashcardsViewService.toggleEditAll()" class="blue-btn">{{ editButtonText() }}</button>
                <button (click)="flashcardLearningService.startSession()" class="blue-btn">Start Learning</button>
            } @else if (flashcardLearningService.isLearning()) {
                <button class="blue-btn">Finish Learning</button>
            }
        } @else if (flashcardsViewService.currentView() === 'add') {
            <button (click)="flashcardsViewService.toggleView('add')" class="blue-btn">{{ addButtonText() }}</button>
        } @else if (flashcardsViewService.currentView() === 'edit' || flashcardsViewService.currentView() === 'view' ||
            flashcardsViewService.currentView() === 'delete') { <button (click)="flashcardsViewService.toggleView('flashcards')" class="blue-btn">Back</button>
        } @else if (selectedDeckService.currentView() !== null) {
            <button (click)="selectedDeckService.toggleView(null)" class="blue-btn">Close</button>
        } @else if (uiStates.currentView() === 'user' || uiStates.currentView() === 'settings') {
            <button (click)="uiStates.toggleView(null); uiStatesUser.toggleView('login')" class="blue-btn">Close</button>
        }
    } @else if (selectedDeckService.currentView() === 'add') {
        <button (click)="selectedDeckService.toggleView(null)" class="blue-btn">Close</button>
    } @else {
        @if (uiStates.currentView() === 'user' || uiStates.currentView() === 'settings') {
            <button (click)="uiStates.toggleView(null); uiStatesUser.toggleView('login')" class="blue-btn">Close</button>
        }
    }
</div>