<div class="flex justify-end items-center w-full h-full bg-gray-100/50 border-t p-4 text-white text-xl gap-4">
    @if (deckSelected()) {
        @if (currentFlashcardView() === 'flashcards' && currentDeckView() === null && !(currentUIView() === 'user' || currentUIView() === 'settings')) {
            @if (!isLearning()) {
                <button (click)="toggleFlashcardsView('add')" class="blue-btn">{{ addButtonText() }}</button>
            }
            @if (flashcardsData.length !== 0) {
                @if (!isLearning()) {
                    <button (click)="toggleFlashcardsEditAll()" class="blue-btn">{{ editButtonText() }}</button>
                }
                <button (click)="toggleFlashcardsIsLearning()" class="green-btn">{{ learningButtonText() }}</button>
            }
        } @else if (currentFlashcardView() === 'add') {
            <button (click)="toggleFlashcardsView('add')" class="blue-btn">{{ addButtonText() }}</button>
        } @else if (currentFlashcardView() === 'edit' || currentFlashcardView() === 'view' || currentFlashcardView() === 'delete') { 
            <button (click)="toggleFlashcardsView('flashcards')" class="blue-btn">Back</button>
        } @else if (currentDeckView() !== null) {
            <button (click)="toggleDeckView(null)" class="blue-btn">Close</button>
        } @else if (currentUIView() === 'user' || currentUIView() === 'settings') {
            <button (click)="toggleUIStatesView(null); toggleUIStatesUserView('login')" class="blue-btn">Close</button>
        }
    } @else if (currentDeckView() === 'add') {
        <button (click)="toggleDeckView(null)" class="blue-btn">Close</button>
    } @else {
        @if (currentUIView() === 'user' || currentUIView() === 'settings') {
            <button (click)="toggleUIStatesView(null); toggleUIStatesUserView('login')" class="blue-btn">Close</button>
        }
    }
</div>