<div class="flex justify-center items-center flex-col absolute top-0 left-0 w-full h-full backdrop-blur-sm gap-4 select-none">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="relative flex flex-col min-w-[40%] max-w-[40%] justify-start items-center p-8 text-xl shadow-full rounded bg-white gap-4">
        <h1 class="text-3xl">Changing Password</h1>
        <div class="w-full flex flex-col gap-4 bg-gray-100 p-4 rounded">
            <p class="">Changing a password is permanent and <b class="text-red-500">cannot be reversed.</b> To proceed, type your old password below followed by your new password:</p>
            <div class="flex flex-col w-full gap-1">
                <input id="oldPassword" name="oldPassword" type="text" class="tracking-tighter p-2 border border-gray-300" (ngModelChange)="checkOldPassword($event)" #oldPassword="ngModel" [(ngModel)]="enteredOldPassword" placeholder="Enter Old Password" required>
                @if (oldPassword.dirty && !validOldPassword()) {
                    <p class="text-sm text-red-500">Old Password doesn't match the Demo User password.</p>
                }
            </div>
            <input id="newPassword" name="newPassword" type="text" class="tracking-tighter p-2 border border-gray-300" #newPassword="ngModel" [(ngModel)]="enteredNewPassword" placeholder="Enter New Password" required>
            <div class="flex flex-col w-full gap-1">
                <input id="confirmedPassword" name="confirmedPassword" type="text" class="tracking-tighter p-2 border border-gray-300" (ngModelChange)="checkMatchingNewPassword($event)" #confirmedPassword="ngModel" [(ngModel)]="enteredNewConfirmPassword" placeholder="Confirm New Password" required>
                @if (confirmedPassword.dirty && !validMatchingNewPasswords()) {
                    <p class="text-sm text-red-500">New passwords do not match.</p>
                }
            </div>
        </div>
        <p class="text-base text-center"><b>Note: </b>{{ message }}</p>
        <div class="flex flex-row gap-4">
            <button class="black-btn col-span-2" type="button" (click)="onCancel()">Cancel</button>
            <button class="blue-btn col-span-2" type="submit" [ngClass]="(validMatchingNewPasswords() && validOldPassword() && newPassword.dirty && confirmedPassword.dirty) ? '' : 'opacity-30 pointer-events-none'" [disabled]="form.invalid">{{ changeButtonMessage }}</button>
        </div>
    </form> 
</div>
