@if (deckSelected()) {
    @if (flashcardsData.length === 0) {
    <p class="text-lg flex w-full h-full justify-center items-center text-gray-400 text-center duration-300
        lg:text-xl
        xl:text-2xl
    ">No flashcards in this deck.<br />Get started using 'Add Card' below.</p>
    } @else {
        <div class="grid grid-cols-4 auto-rows-min items-start p-4 gap-4 h-full w-full overflow-auto">
        @for (flashcard of flashcardsData; track flashcard.id) {
            <div (click)="onViewCardClick(flashcard.id)"
                class="
                    text-lg relative flex flex-col h-32 justify-center items-center bg-gray-100 rounded border border-gray-300 p-2 hover:bg-gray-200 cursor-pointer select-none duration-300 text-center
                    lg:text-xl lg:h-48
                    xl:text-2xl xl:h-64
                    ">
                <p class="flex justify-center items-center border-b border-gray-400 h-1/2 w-full">{{ flashcard.front }}</p>
                <p class="flex justify-center items-center border-t border-gray-400 h-1/2 w-full">{{ flashcard.back }}</p>
                @if (isEditingAllFlashcards()) {
                <div class="absolute flex flex-row justify-end top-2 right-5 gap-4 h-10 w-10 select-none text-base font-bold">
                    <fa-icon (click)="onEditAllCardClick(flashcard.id, $event)" [icon]="faGear"
                        class="flex justify-center items-center text-gray-400 hover:text-gray-600 duration-300"></fa-icon>
                    <button (click)="onDeleteCardClick(flashcard.id, $event)"
                        class="flex justify-center items-center text-gray-400 hover:text-gray-600 duration-300 text-xl">X</button>
                </div>
                }
            </div>
        }
        </div>
    }
} @else if (!deckSelected() && totalDecks !== 0) {
    <p class="
        text-lg flex w-full h-full justify-center items-center text-gray-400 text-center duration-300
        lg:text-xl
        xl:text-2xl
    ">To begin viewing flashcards, select a deck from the sidebar.</p>
}

@if (deckSelected()) {
    @if (currentFlashcardView() === 'add') {
    <app-add-card-view [deckSize]="deckData?.flashcards?.length || 0" />
    } @else if (currentFlashcardView() === 'edit') {
    <app-edit-card-view [flashcardData]="flashcardData" />
    } @else if (currentFlashcardView() === 'view') {
    <app-view-card-view [flashcardData]="flashcardData" />
    } @else if (currentFlashcardView() === 'delete') {
    <app-delete-card-view [flashcardData]="flashcardData" />
    } @else if (isLearning()) {
    <app-learning-view [flashcardsData]="flashcardsData"/>
    }
}

@if (currentDeckView() === 'edit') {
<app-edit-deck-view [deckData]="deckData" />
} @else if (currentDeckView() === 'add') {
<app-add-deck-view />
} @else if (currentDeckView() === 'delete') {
<app-delete-deck-view [deckData]="deckData" />
} @else if (currentUIView() === 'settings') {
<app-settings-view />
} @else if (currentUIView() === 'user') {
<app-user-view />
}