/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-full {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  .shadow-half {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }

  .text-shadow {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  .black-btn {
    @apply bg-black min-w-[10rem] rounded hover:bg-gray-700 p-3 duration-300 text-xl;
  }

  .blue-btn {
    @apply bg-blue-600 min-w-[10rem] rounded-full text-shadow hover:bg-blue-700 p-3 duration-300 text-lg text-white select-none;
  }

  .green-btn {
    @apply bg-green-600 min-w-[10rem] rounded-full text-shadow hover:bg-green-700 p-3 duration-300 text-xl text-white select-none;
  } 

  .red-btn {
    @apply bg-red-700 min-w-[10rem] rounded-full text-shadow hover:bg-red-800 p-3 duration-300 text-xl text-white select-none;
  }
}